@import url('https://fonts.googleapis.com/css?family=Anton|Rajdhani');

*{
	text-align: center;
}

body{
	background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/36588wide.png);
	padding: 15px;
}

.negro{
 	background-color: black;
  	color:white;
}

td{
  	width: 40px;
  	height: 40px;
}

table{
	margin: auto;
	background: white;
}

h1{
    font-family: 'Anton', sans-serif;
	box-shadow: 5px 5px 5px gray;
	color: white;
	-webkit-text-stroke: 1px gray;
	border: 2px solid white;
	border-radius: 15px;
	padding: 40px;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	background-image: url(http://www.clubinternacionalelcentro.org/sites/default/files/images/ajedres.jpg);
}

button{
	border-radius: 5px;
}

button:hover{
	background-color: #eee;
}

td, tr{
	border-radius: 3px;
}

p{
	font-family: 'Rajdhani', sans-serif;
}

#nume{
	color: white;
}